.color-dark{
    color:black !important
}
.color-white{
    color: white !important;
}

.bg-dark{
    transition: all 0.3 ease-in-out;
    background-color: rgb(28, 33, 37);
}
.bg-card-dark{
    transition: all 0.3 ease-in-out;
    background-color: hsl(207, 12%, 15%) !important;
}

.bg-white{
    transition: all 0.3 ease-in-out;
    background-color: white;
}