.color-dark{
    transition: all 0.3s ease-in-out !important;
    color:black !important
}
.color-white{
    transition: all 0.3s ease-in-out !important;
    color: white !important;
}

.bg-dark {
    transition: all 0.3s ease-in-out !important;
    background-color: rgb(28, 33, 37) !important;
  }
  
  .bg-card-dark {
    transition: all 0.3s ease-in-out !important;
    background-color: hsl(207, 12%, 15%) !important;
  }
  .bg-navbar-dark {
    transition: all 0.3s ease-in-out !important;
    background-color: hsla(207, 12%, 15%, 0.712) !important;
   
  }
  
  .bg-white {
    transition: all 0.3s ease-in-out !important;
    background-color: white !important;
  }
  