@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap");

.OurMissionDiv {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 100px -44px rgba(0, 0, 0, 0.75);
  margin-bottom: 7rem;
}

.ContentWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 3rem 0;
}

.ThridDivTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  line-height: 0.9;
  margin: 0;
  padding: 0;
  border: 0;
  color: #272a31;
  padding-bottom: 30px;
  letter-spacing: -0.1px;
  padding-bottom: 50px;
}

.ThridDivP {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  border: 0;
  color: #000309;
  font-weight: 300;
  padding-bottom: 40px;
  max-width: 650px;
  width: 100%;
}

.ThirdDivSubTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  border: 0;
  color: #000309;
}

.GridSystem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.Card {
  width: 17rem;
  height: 100%;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  font-size: 20px;
  font-weight: bold;
}
.Card img {
  width: 6rem;
}
.moveDownCard {
  transform: translate3d(0, 3rem, 0);
}
.firstCard {
  background-color: #ff7700;
}
.secondCard {
  background-color: #efdff7;
}
.thirdCard {
  background-color: #c6e6fd;
}
.fourthCard {
  background-color: #00438b;
  text-align: center;
}

.TextDivWrapper {
  width: 40%;
}
.ThirdDivH3 {
  margin: 0.5rem 0;
}
.text-white {
  color: white;
}
.text-purple {
  color: #b17cc6;
}
.text-blue {
  color: #63b0e3;
}

@media (max-width: 990px) {
  .OurMissionDiv {
    left: -8px;
    padding-bottom: 0;
    margin-bottom: 5rem;
  }

  .ThirdDivH2 {
    font-size: 40px;
  }

  .ThridDivTitle {
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .ContentWrapper {
    flex-direction: column;
  }

  .TextDivWrapper {
    width: 98%;
    text-align: center;
    margin: auto;
  }
  .GridSystem {
    margin: auto;
    margin-bottom: 3rem;
  }
}

@media (max-width: 600px) {
  .Card {
    width: 12rem;
  }
  .ThirdDivP {
    font-size: 16px;
  }
  .OurMissionDiv{
    left: 0;
  }
}
@media (max-width: 420px) {
  .Card {
    width: 10rem;
  }
  .ThirdDivH2 {
    font-size: 25px;
    margin: 0 0.5rem;
  }
  .ThirdDivP {
    font-size: 12px;
    margin: 0 1rem;
  }
  .GridSystem {
    grid-template-columns: none;
    grid-template-rows: none;
    width: 80%;
  }
  .moveDownCard {
    transform: translate3d(0, 0, 0);
  }
  .Card {
    width: 100%;
  }
  .Card img{
    width: 4rem;
  }
  
}
@media (max-width: 320px) {
  .Card {
    width: 9rem;
  }
  .GridSystem {
    position: relative;
    left: 9px;
    margin: auto;
    margin-bottom: 3rem;
  }
}
